*{
    padding: 0;
    margin:0 ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

header{
    background-color: rgb(248, 237, 222);
    height: 80vh;
}
h1{
    padding-top: 5px;
    text-transform: uppercase;
    border: solid rgba(0, 0, 0, 0.663);
    border-right: 0;
    border-left: 0;
margin-top: 10px;
}
.red{
    color: red;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.container ul{
    display: flex;
}
.container ul li {
    padding: 10px 30px;
    list-style: none;
    color: black;
    font-size: 20px;
}
.container ul a{
    text-decoration: none;
}
.container ul a :hover{
    color: red;
}
.bg-1{
    width: 150px;
}
.contain{
    width: 80%;
    margin: auto;
align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    padding-left: 300px;
}
.head p{
    font-size: 30px;
    color: black;
    letter-spacing: 2px;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    padding :20px 0;
}
.title{
    font-size: 20px;
}
.logo{
    position: absolute;
    left:400px;
}
button{
    font-size: 20px;
    background-color: red;
    color: white;
    border: solid  rgb(248, 237, 222);
    border-radius: 20px;
    width: 220px;
    height: 50px;
    transition: 0.5s;
}
button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.p-1{
    width: 300px;
}
.p-2{
    width: 300px;
}
.p-3{
    width: 300px;
}
.container-2{
display: flex;
justify-content: center;
gap: 30px;
padding-top: 100px;
}
.section-3{
    display:flex;
    justify-content: center;
}
.section-3 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
    padding-top: 100px;
}
.shoes{
    display:flex;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}
.accessories h5{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
 font-size: 30px;
 font-weight: 800;
 letter-spacing: 2px;
}
.accessories hr{
   position: absolute;
   left: 850px;
    width: 200px;
    height: 2px;
    background-color: red;
}
.watch{
    width: 100%;
    height: 600px;
    background-color: rgb(248, 237, 222,90%);
margin: 150px 0px;
position: relative;
}
.wirist{
    width:600px;
display: flex;
position: absolute;
top: 50px;
left: 250px;
}
.band{
    position: absolute;
    top: 150px;
    left:1000px;
}
.smart{
    font-size: 60px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.band .buy{
    margin-top: 10px;
}
footer{
    background-color: black;
    padding-left: 200px;
}
.Contact , .links , .Products , .name{
    color: white;
    font-size:  20px;
    font-weight: 700;
}
.text-reset{
    text-decoration: none;
}